# --- Python & Environment ---
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
build/
dist/
uv.lock
*.egg-info*

# --- Notebooks & IDEs ---
.ipynb_checkpoints
.virtual_documents
.vscode/
.idea/
.DS_Store*.zip
